<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache, must-revalidate">
<meta http-equiv="expires" content="0">
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT"> 
<link rel="stylesheet" type="text/css" href="../style/style.css?versiondate=7.1.1.224619"  />
<link rel="stylesheet" type="text/css" href="../style/main.css?versiondate=7.1.1.224619"  />
<link rel="stylesheet" type='text/css' href="../style/box.css?versiondate=7.1.1.224619" />
<link rel="stylesheet" type="text/css" href="../style/viewer/view.css?versiondate=7.1.1.224619"  />
<link rel="stylesheet" type="text/css" href="../style/viewer/jquery-ui-slider.css?versiondate=7.1.1.224619"  />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<script language="javascript" type="text/javascript" src="../script/jquery-1.7.1.min.js?versiondate=7.1.1.224619"></script>
<script language="javascript" type="text/javascript" src="../script/jquery.cookie.js?versiondate=7.1.1.224619"></script>
<script language="javascript" type="text/javascript" src="../script/versionocx.js?versiondate=7.1.1.224619"></script>
<script language="javascript" type="text/javascript" src="../script/jquery.simplemodal.1.4.4.min.js?versiondate=7.1.1.224619"></script>
<script language="javascript" type="text/javascript" src="../script/jquery-ui-slider.js?versiondate=7.1.1.224619"></script>
<script language="javascript" type="text/javascript" src="../script/checkform.js?versiondate=7.1.1.224619"></script>


<script language="javascript" type="text/javascript" src="../script/common.js?versiondate=7.1.1.224619"></script>
<script language="javascript" type="text/javascript" src="../script/stringtest.js?versiondate=7.1.1.224619"></script>
<script language="javascript" type="text/javascript" src="../script/checkform.js?versiondate=7.1.1.224619"></script>
<script language="javascript" type="text/javascript" src="../script/config/config.js?versiondate=7.1.1.224619"></script>

<script language="javascript" type="text/javascript" src="../script/translator.js?versiondate=7.1.1.224619"></script>

<script language="javascript" type="text/javascript" src="../script/algShow.js?versiondate=7.1.1.224619"></script>
<script>
var m_szSuccessState = "&nbsp;<img src='../images/config/smile.png' class='imgmiddle'>&nbsp;"; //设置成功
var m_szErrorState = "&nbsp;<img src='../images/config/tips.png' class='imgmiddle'>&nbsp;"; //设置失败
</script>
</head>
<body onunload="UnloadPage('algShow.htm',5)" onload="Load_algViewer()">
  <div id="mianAlgplugin" class="mianAlgplugin"></div>
</body>
</html>
